<div class="screen flex-col align-center vh-full">
  <h1 class="mt-auto">Budget on Rails</h1>
  <div class="flex-col mt-auto text-center w-full gap-10">
    <%= link_to 'LOG IN', new_user_session_url, class:"link link-main" %>
    <%= link_to 'SIGN UP', new_user_registration_url, class: "link"%>
  </div>
</div>
