/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
*= require material_icons
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.vh-full {
  height: 100vh;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-10 {
  margin-bottom: 10px;
}

.screen {
  padding: 10px;
}

.material-icons {
  color: white;
}

/** LOGIN **/

.header {
  padding: 10px;
  background-color: #3778c2;
  color: white;
}

.actions input {
  background-color: transparent;
  border: none;
  color: white;
}

.field input {
  padding: 10px;
}
